@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/*RED   rgb(219, 59, 59);*/
/* DARK GREY rgb(31, 30, 30);*/
body {
  margin: 0;
  font-family: "Rubik", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(36, 35, 35);
  color: white;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 5px 0;
  color: rgb(219, 59, 59);
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav li {
  padding: 10px 15px;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
/* EDUCATION*/
#work-experience,
#education,
#languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* EXPERIENCE*/
.my-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.info-details {
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
}
.info-details h5 {
  padding: 5px 15px;
  font-style: italic;
}
.achievements-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.achievements-tasks li {
  width: 100%;
  text-align: left;
  border-radius: 3px;
  padding: 8px;
}

.bg0 {
  background-color: rgba(129, 128, 128, 0.3);
}

.bg1 {
  background-color: rgba(129, 128, 128, 0.15);
}
.bg2,
#languages h5 {
  background-color: rgba(129, 128, 128, 0.1);
}
.bg3 {
  background-color: rgba(129, 128, 128, 0.08);
}
/*HEADER */

.title-name {
  font-size: 8vw;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
}
.title {
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: 50px 0;
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .header-container,
  .my-experience {
    width: 90%;
  }
  .title-name {
    font-size: 18vw;
    padding: 0 50px;
  }
}
.header-container p {
  line-height: 30pt;
}

.about-me {
  margin: 50px 0;
}
.about-me p {
  margin-bottom: 25px;
}
.soft-skills img {
  width: 60px;
  color: white;
}
/* soft skill card*/

.soft-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.soft-skill-card h3 {
  color: white;
  margin: 10px 5px;
}
.soft-skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 280px;
  text-align: center;
  background-color: rgba(219, 59, 59, 0.603);
  border-radius: 25px;
  padding: 20px;
}

.display-info{
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto; 
  
  
}

.show{
  top:0;
  opacity: 1;
  height: auto;  
  transition: all 1s ease, opacity 1s ease;
  
}

.hide{ 
  top:0; 
  opacity: 0;
  height: 0;
  z-index: -1;
  transition: all 0.2s ease-out;
}

.list-cards {
  background-color: rgb(44, 43, 43);
  border-radius: 10px 10px 0 0;
  width: 100%;

}
.list-cards h4:hover{
  cursor: pointer;
   
}


/* LANGUAGES */
#languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#languages h5 {
  margin: 0;
  padding: 8px;
}
